<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

Sign In
<form action="<%= users_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="">Username</label>
  <input type="text" name="user[username]" id="Username">

  <label for="">Password</label>
  <input type="password" name="user[password]" id="Password">

  <input type="submit" value="Sign In">
</form>
