<h1>Links#index</h1>
<p>Find me in app/views/links/index.html.erb</p>

<%= link_to "New Link", new_link_url %>
<% @links.each do |link| %>
<%= link_to link.title, link_url(link) %>
<%= link.url %>
<% end %>
